@font-face {
    font-family: 'VA-11 Hall-A 6px Non-mono';
    src: url("font/VA-11Hall-A6pxNon-mono.eot");
    src: url("font/VA-11Hall-A6pxNon-mono.eot") format('embedded-opentype'),
        url("font/VA-11Hall-A6pxNon-mono.woff2") format('woff2'),
        url("font/VA-11Hall-A6pxNon-mono.woff") format('woff'),
        url("font/VA-11Hall-A6pxNon-mono.svg") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("but/Background.png"); 
    background-size: 400px;
    background-repeat: repeat;
    font-family: "VA-11 Hall-A 6px Non-mono";
    color: rgb(255, 190, 111);
    overflow-x: auto;
    overflow-y: hidden;
}

main {
    padding: 0;
    margin: 0;
    height: calc(100vh - var(--header-height));
}

h1, h3 {
    color: rgb(198, 68, 36);
}

header {
    background: linear-gradient(#af1616 65%, transparent);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    list-style-type: none;
}

 .listeps {
        margin-left: 30px;
    }

.twoimgs {
  position: relative;
}

.link {
        color: rgb(255, 190, 111);
}

.img1 {
  position: relative;
}

.img2 {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.img2:hover {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
  }

.image-container {
    position: absolute;
    top: var(--header-height);
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - var(--header-height)); /* Full height minus header */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; /* Enable both horizontal and vertical scroll */
}

.image-container img {
    display: block;
    height: 100%;
    width: auto;
}

.info-button {
    position: absolute;
    display: inline-block;
    width: 8%;
    height: 60%;
    background-color: rgba(255, 0, 0, 0.5); /* Semi-transparent red for demo */
    border-radius: 50%; /* Round shape */
    cursor: pointer;
}

.info-button:hover {
    background-color: rgba(255, 0, 0, 0.8); /* Darker red on hover */
}
