@font-face {
    font-family: 'VA-11 Hall-A 6px Non-mono';
    src: url("font/VA-11Hall-A6pxNon-mono.eot");
    src: url("font/VA-11Hall-A6pxNon-mono.eot") format('embedded-opentype'),
        url("font/VA-11Hall-A6pxNon-mono.woff2") format('woff2'),
        url("font/VA-11Hall-A6pxNon-mono.woff") format('woff'),
        url("font/VA-11Hall-A6pxNon-mono.svg") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    margin:0;
    padding:0;
    overflow: hidden;
}
body.index {
  height:calc(var(--vh, 1vh) * 100);
  background: linear-gradient( to bottom,
              #181413 0%,
              #181413 90%,
              #d58332 90%,
              #d58332 100%);
}
a, p, h1, figcaption, em, li{
  text-decoration: none;
  font-family: "VA-11 Hall-A 6px Non-mono";
}


/* Loading Screen */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  pointer-events: auto;
  transition: opacity 0.5s linear, visibility 0s 0.5s;
}
#loading pre{
  position: absolute;
  color:rgb(155, 155, 155);
  font-size: medium;
  font-family: 'VA-11 Hall-A 6px Non-mono';
  left: 50%;
  bottom: 60%;
}

/* Text Bubble */
.text-bubble {
  position: fixed;
  top: 23%;
  right: 35%;
  z-index: 2;
}
.bubble-wrapper {
  position: relative;
  height: 18vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bubble-wrapper img {
  height: 100%;
  width: auto;
  display: block;
}
.bubble-wrapper p {
  position: absolute;
  width: 70%;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0%;
  z-index: 3;
}
#textBubble {
  opacity: 0;
  pointer-events: none;
}
#mobile-bubble{
  display: none;
}


/* Background */
.right{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: visible;
    margin: 0px;
    padding: 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: auto;

}
.left{
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
    padding: 0px;
    height: calc(var(--vh, 1vh) * 100);
}
.left img{
    height: 100%;
    transition: transform 0.5s ease, height 0.5s ease;
}
.bar{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    transition: transform 0.5s ease, height 0.5s ease;
}
.bartender{
    position: absolute;
    bottom: 32.7%;
    right: 20vh;
    height: 40%;
    transition: transform 0.5s ease, height 0.5s ease;
}

/* Space Bar Button */
#space-bar {
  position: fixed;
  left: 19.5%;
  bottom: 0%;
  z-index: 4;
  cursor: pointer;
}
.space img {
   position: absolute;
   left: 0px;
   bottom: 0px;
   width: calc(100vh * 0.568518);
   height: auto;
   opacity: 0.4;
}
.focus{
  opacity: 0;
}
.space:hover .focus{
  opacity: 0.4;
}
.space:hover .idle{
  opacity: 0;
}

/* Blueberrry 925 */
.phone-container {
  position: fixed;
  height: calc(var(--vh, 1vh) * 98);
  z-index: 3;
  bottom: -200%;
  left: 20%;
  width: auto;
  transition: transform 0.5s ease, height 0.5s ease;
}
#phone {
  position: relative;
  height: 100%;
  left: 0px;
  bottom: 0px;
}
#snooze{
  position: absolute;
  width: 25%;
  height: 5%;
  bottom: 5.5%;
  left: 50%;
  transform: translateX(-48%);
}
#snooze:hover{
  background-color: rgba(90, 90, 90, 0.3)
}

/* Blueberrry 925 Buttons */
.button-container {
  position: absolute;
  top: 18%;
  left: 13.2%;
  height: 54%;
  width: 74%;
  display: flex;
  flex-direction: column;
  gap: 1%;
}
.button-row {
  display: flex;
  flex: 1;
  gap: 1%;
}
.button-container a.full-width{
  display: block;
  width: 100%;
  height: 100%;
}
.full-width img {
  width: 100%;
}
.half img{
  width: 100%;
}
.button-container a:hover img {
  opacity: 0.7;
}


/* POLARIS.html */

/* header */
.POLARIS{
  background-image: url("assets/POLARIS_bg.png"); 
  background-size: 400px;
  background-repeat: repeat;
}
.LOGO{
  position: fixed;
  top: 2%;
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.LOGO img{
  position: absolute;
  height: 100%;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  transition: all 0.3s ease;   
}
.back2index{
  position: fixed;
  top: 2%;
  left: 0%;
  z-index: 999;
}
.back2index img{
  height: 15vh;
  width: auto;
}

/* episode listing */
.ep-container {
  position: fixed;
  left: 15%;
  bottom: calc(var(--vh, 1vh) * 17);
  width: 70vw;              
  height: calc(var(--vh, 1vh) * 60);;
  overflow-y: auto;
  overflow-x: hidden;                 
  white-space: nowrap;      
  background-color: rgba(113, 60, 70, 0.2);
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;    
}
.ep-container a {
  width: 100%;
  height: 15vh;
  font-family: 'VA-11 Hall-A 6px Non-mono';
  margin: 1%;
  transition: all 0.3s ease;
  position: relative;
  background-color: rgba(113, 60, 70, 0.1);
  display: flex;
  align-items: center;
}
.ep-container span {
  position: relative;
  color:rgb(231, 152, 69);
}
.episode-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.episode-date {
  position: absolute;
  right: 5%;
}
.episode-date-mobile{
  position: absolute;
  right: 5%;
  opacity: 0.7;
  transform: translateY(200%);
  display: none;
}
.listed-episode img {
  height:100%;                     
  object-fit: cover;
  margin-right: 2%;
}
.listed-episode:hover {
  background-color: rgba(113, 71, 60, 0.2);
  height: 17vh;
}
.ep-container:hover a:not(:hover) {
  height: 15vh;
}




/* footer */

.polaris-buttons-container {
  position: fixed;
  bottom: 3%;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around; 
  gap: 10%;
  transition: all 0.3s ease;
}
.polaris-buttons {
  position: relative;
  height: 12vh;
}
.polaris-buttons img {
  position: absolute;
  height: 100%;
  width: auto;
  transition: opacity 0.3s ease;
  transform: translateX(-50%);
}
.polaris-buttons .idle {
  opacity: 1;
}
.polaris-buttons .focus {
  opacity: 0;
}
.polaris-buttons:hover .idle {
  opacity: 0;
}
.polaris-buttons:hover .focus {
  opacity: 1;
}

/* Episodes.html*/

.comic-wrapper{
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: calc(var(--vh, 1vh) * 25);;
  box-sizing: border-box;
}
.comic{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comic img{
  max-width: 100vw;
  width: calc(var(--vh, 1vh) * 75);
  z-index: 3;
}
.comic-buttons {
  display: flex;
  justify-content: space-around; 
  gap: 24vh;
  margin-bottom: 2vh;
  z-index: 10;
}
.comic-buttons img {
  width: auto;
}
.comic h1{
  color:rgb(226, 103, 46);
}
.comic p {
  max-width: 90vw;
  width: calc(var(--vh, 1vh) * 100);
  text-align: center;
  font-size: large;
  color: rgb(255, 190, 111);
  text-wrap:inherit;
}
.comic a{
  color: rgb(132, 148, 250);
  text-decoration: underline;
}
.back2top{
  font-size: large;
  font-family: "VA-11 Hall-A 6px Non-mono";
  color: rgb(132, 148, 250);
  text-decoration: underline;
  cursor: pointer;
}
#back2top:hover{
  color: rgb(178, 187, 243);
}
#commentlink{
  color: rgb(240, 136, 113);
}
#commentlink:hover{
  color: rgb(228, 151, 134);
}
.polaris-footer {
  width: 100vw;
  background-color: rgba(37, 30, 30, 0.7);
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  opacity: 0.7;
}
.polaris-footer p {
  width: auto;
  max-width: 90vw;
  font-size: large;
  color: rgb(255, 190, 111);
}
.polaris-footer img{
  width: auto;
}
.polaris-footer a{
  color: rgb(132, 148, 250);
  text-decoration: underline;
  word-break: break-word;
}
.polaris-footer:hover a{
  color: rgb(178, 187, 243);
}


/* Cast.html */
.cast-wrapper{
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 75);
  transition: height 0.5s ease;
}
.cast-wrapper img{
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1;
}
.castinner {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.cast-flex{
  position: absolute;
  width: 33vh;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.cast-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}
.cast-item h1{
  font-size: calc(var(--vh, 1vh) * 4.2);
}
.cast-item {
  height: calc(var(--vh, 1vh) * 75);
  text-align: center;
  opacity: 0;
}
.cast-item:hover {
  opacity: 1;
}
.cast-item:hover h1{
  animation: shake 1s ease 0s 1 normal forwards;
}
#cast-vic{
  margin-top: 20vh;
  margin-left: 3vh;
  margin-right: 0vh;
}
#cast-jack{
  margin-top: 16vh;
  margin-left: 0vh;
  margin-right: 0vh;
}
#cast-beth{
  margin-top: 10vh;
  margin-left: 0vh;
  margin-right: 0vh;
  
}

/* CastMember.html */
.CastMember-scroll-area {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(var(--vh, 1vh) * 100);
}
.CastMember-wrapper{
  position: relative;
  width: 100vw;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
}
.CastMember-text{
  padding-top: calc(var(--vh, 1vh) * 25);
  padding-right: 3%;
  flex: 1; 
}
.CastMember-images{
  padding-top: calc(var(--vh, 1vh) * 25);
  padding-left: 3%;
  padding-bottom: 2%;
  flex: 1; 
}
.CastMember-images img{
  display: block;
  width: 100%;
  height: auto; 
  padding-bottom: 1%; 
}
.CastMember-images figcaption{
  color: rgb(255, 190, 111);
}
.CastMember-text p{
  margin-bottom: 20px;
  color: rgb(255, 190, 111);
}
.CastMember-text h1{
  color: rgb(198, 68, 36);
}
#CastMember-sheet {
  position: relative;
  width: 70%; 
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  display: block; 
  overflow-y: visible;
  padding-bottom: 1%;
}
#back2topcast {
  display: block;
  width: fit-content;
  margin: auto;
  padding-bottom: 2%;
}
#back2topcast:hover {
  color: rgb(178, 187, 243);
}



/* Extras.html */

/* header */

.Extras {
  background-color: rgb(122, 176, 83);
  background-image: url("extras/background.png");
  background-repeat: repeat-y;   
  background-position: right top;       
  background-attachment: scroll;         
}
#EXTRA-LOGO {
  top:0%;
  background-color: #7eb850;
  transition: height 0.1s ease;
}
#EXTRA-LOGO img{
  position: absolute;
  height: 90%;
  right: 0%;
  transform: translateX(0%);
  z-index: 1;
  transition: all 0.3s ease;   
}

/* body */
.Extras-wrapper {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 75);
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 1rem; 
  overflow-y: auto;
  transition: all 1s ease;
}
.Extras-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 50%;
  flex: 0 1 calc(34% - 2rem); /* 3 per row on desktop */
  box-sizing: border-box;
  height: auto;
}
.Extras-item img {
  width: 100%;
  max-height: 60%;
  object-fit: contain;
}
.Extras-item p{
  margin: 2%;
}
.Extras-title{
  text-align: center;
  color:rgb(102, 1, 87);
  font-size: large;
}
.Extras-description{
  text-align: center;
  font-size: small;
  color:rgb(77, 77, 77);
}
.Extras-item:hover {
  opacity: 0.7;
}




/* About.html */
.About {
  background-color: rgb(230, 186, 23); 
}
#ABOUT-LOGO {
  z-index: 3;
}
#ABOUT-LOGO img {
  position: absolute;
  height: 90%;
  right: 0%;
  transform: translateX(0%);
  transition: all 0.3s ease;
}
.About-scroll-area{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(var(--vh, 1vh) * 100);
}
.About-wrapper{
  position: relative;
  width: 100vw;
  bottom: 0%;
  z-index: 2;
}
.About-text{
  padding-top: calc(var(--vh, 1vh) * 20);
  padding-right: 4.5%;
  padding-left: 4.5%;
}
.About-text h1{
  display: block;
  color: #cb1168;
  font-weight: bolder;
  text-align: center;
}
.About-text p{
  color: #541f26;
  font-weight: bold;
  letter-spacing: 0.2px;
}
.About-text em{
  color: #684242;
  font-weight: normal;
}
.About-text li{
  color: #87343f;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-bottom: 1em;
  margin-top: 1em;
}
.About-link{
  color: #963333;
  text-decoration: underline;
}
.About-link:hover{
  color: #c35303;
}
.poem{
  display: block;
  text-align: center;
}
.ContactCredits{
  display: block;
  text-align: center;
}
.ContactCredits p{
  margin: 1.5% 0%;
}
.BGS1, .BGS2, .BGS3, .BGS4, .BGS5,
.BGS6, .BGS7, .BGS8, .BGS9, .BGS10 {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.2;
  z-index: 1;
}
.BGS1{
  background-color: #cbb01b;
  height: 92vh;
  width: 95vw;
  animation: spin 3825s linear infinite;
}
.BGS2{
  background-color: #b9ab22;
  height: 84vh;
  width: 86vw;
  animation: spin 2550s linear infinite;
}
.BGS3{
  background-color: #a7a123;
  height: 76vh;
  width: 76.5vw;
  animation: spin 1700s linear infinite;
}
.BGS4{
  background-color: #939d22;
  height: 68vh;
  width: 67vw;
  animation: spin 1125s linear infinite;
}
.BGS5{
  background-color: #799d22;
  height: 60vh;
  width: 57.5vw;
  animation: spin 750s linear infinite;
}
.BGS6{
  background-color: #5e9d22;
  height: 52vh;
  width: 48vw;
  animation: spin 500s linear infinite;
}
.BGS7{
  background-color: #339d22;
  height: 44vh;
  width: 38.5vw;
  animation: spin 335s linear infinite;
}
.BGS8{
  background-color: #259230;
  height: 36vh;
  width: 29vw;
  animation: spin 225s linear infinite;
}
.BGS9{
  background-color: #259248;
  height: 28vh;
  width: 19.5vw;
  animation: spin 150s linear infinite;
}
.BGS10{
  background-color: #21885f;
  height: 20vh;
  width: 10vw;
  animation: spin 100s linear infinite;
}

/* Tablet Mode */
@media (max-aspect-ratio: 1) {
  #loading pre{
  left: 1%;
  bottom: 50%;
  }
  .bar {
      transform: translateX(5%);
      height: 65%;
  }
  .bartender{
    bottom: 21.25%;
    right: 7vh;
    height: 30%;
}
  .left img {
      transform: translateX(-7%);
      height: 100%;
  }
  #space-bar {
    left: 0px;
  }
  .space img {
    bottom: 0px;
    width: 100vw;  
  }
  .phone-container {
    transform: translateX(-15%);
  }

  /* Tablet Text Bubble */
  .text-bubble {
    position: relative;
    top: 5%;
    right: auto;
    margin: 0 auto;
  }
  .bubble-wrapper {
    height: 15vh;
  }


  /* Tablet episode listing */
  .LOGO{
    right: 0%;
    height: 14vh;
    width: 100vw;
  }
  .LOGO img{
    right: 0%;
    transform: translateX(0%);
    z-index: 1;
  }
  .back2index{
    top: 2%;
  }
  .back2index img{
    height: 13vh;
  }
  .ep-container {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 65);;
    left: 0%;
    transition: left 0.3s ease, width 0.3s ease;
  }
  .polaris-buttons-container {
    width: 100%;
    left: 0%;
    transform: translateX(0%);
    gap: 7%;
  }

  /* Tablet episode */
  .comic-wrapper{
    padding-top: calc(var(--vh, 1vh) * 20);
  }

  /* Tablet cast */
  .cast-wrapper{
    height: calc(var(--vh, 1vh) * 80);
    overflow-y: hidden;
    overflow-x: visible;
  }
  .cast-wrapper img{
    position: absolute;
    height: 100%;
    left: auto;
    transform: translateX(0%);
  }

  /* Tablet Extra */
  #EXTRA-LOGO {
    height: 16vh;
  }
  #EXTRA-LOGO img{
    top: 1%;
  }
  /* Tablet Cast Member*/
  .CastMember-wrapper{
    flex-direction: column;
  }
  .CastMember-text{
    padding-top: calc(var(--vh, 1vh) * 18);
    padding-right: 7%;
    padding-left: 7%;
  }
  .CastMember-images{
    padding-top: calc(var(--vh, 1vh) * 0);
    padding-right: 0%;
  }
  #CastMember-sheet {
    width: 90%; 
    padding-bottom: 4%;
  }
  #link2top {
    padding-bottom: 7%;
  }

  /* Tablet Extras*/
  .Extras-wrapper {
  height: calc(var(--vh, 1vh) * 80);
  }
  .Extras-item {
    flex: 0 1 calc(53% - 2rem); /* 2 per row on smaller screens */
  }

  /* Tablet About*/
  .About-text{
  padding-top: calc(var(--vh, 1vh) * 15);
  padding-right: 6%;
  padding-left: 6%;
  }
}

/* Mobile Mode */
@media (max-aspect-ratio: 0.58) {
  .phone-container {
  height: auto;
  left: auto;
  display: flex;
  transform: translateX(0%);
  transition: none;
  }
  #phone {
    width: 100%;
  }

  /* Mobile Text Bubble */
  #desktop-bubble{
    display: none;
  }
  #mobile-bubble{
    display: block;
  }
  .bubble-wrapper {
    height: 45vw;
  }
  .bubble-wrapper p {
  width: 85%;
  margin-bottom: 9%;
}

  /* Mobile episodes */
  .LOGO{
    height: 24vw;
  }
  .back2index{
    top: 1%;
  }
  .back2index img{
    height: 22vw;
  }
  .polaris-buttons {
    height: 20vw;
  }
  #EXTRA-LOGO {
    height: 26vw;
  }
  .episode-date {
  display: none;
}
.episode-date-mobile{
  display: block;
}
}

/* Animations and JS classes */
.phone-container.move-up{
    animation: move-up 1.5s ease-out forwards;
}
.phone-container.move-down{
    animation: move-down 1.5s ease;
}
.hide {
  transition: opacity 0.5s linear, visibility 0s 0.5s;
  visibility: hidden;
  opacity: 0;
}


@keyframes move-up {
  from {
    bottom: -200%;
  }
  to {
    bottom: 0px;
  }
}
@keyframes move-down {
  from {
    bottom: 0px;
  }
  to {
    bottom: -200%;
  }
}
#loading pre::after {
  content: "|";
  animation: blink 0.7s step-end infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes shake {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
	}

	10% {
		transform: rotate(8deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-10deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(10deg);
	}

	80% {
		transform: rotate(-8deg);
	}

	90% {
		transform: rotate(8deg);
	}
}
@keyframes spin{
   from {
    transform: rotate(0deg) translate(-50%, -50%);
    transform-origin: 0% 0%;
  }
  to {
    transform: rotate(180deg) translate(-50%, -50%);
    transform-origin: 0% 0%;
  }
}


/* scrolbar */
.ep-container::-webkit-scrollbar,
.CastMember-scroll-area::-webkit-scrollbar {
  width: 0.5vw;
}
.ep-container::-webkit-scrollbar-track,
.CastMember-scroll-area::-webkit-scrollbar-track {
  background: rgba(35, 22, 15, 0.4); 
  border-radius: 5px;
}
.ep-container::-webkit-scrollbar-thumb,
.CastMember-scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(235, 111, 53, 0.6); 
  border-radius: 4px;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
}
.ep-container::-webkit-scrollbar-thumb:hover,
.CastMember-scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: rgba(235, 111, 53, 0.7);
}

.cast-wrapper::-webkit-scrollbar {
  height: 0.5vh;
}
.cast-wrapper::-webkit-scrollbar-track {
  background: rgba(48, 48, 48, 0.4); 
  border-radius: 5px;
}
.cast-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(188, 188, 188, 0.6); 
  border-radius: 4px;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
}
.cast-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(202, 202, 202, 0.7);
}

.comic-wrapper::-webkit-scrollbar {
  width: 0.5vw;
}
.comic-wrapper::-webkit-scrollbar-track {
  background: rgb(50, 33, 24); 
  border-radius: 5px;
}
.comic-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(235, 111, 53, 0.6); 
  border-radius: 4px;
  border: 0.1vw solid rgba(255, 255, 255, 0.2);
}
.comic-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(235, 111, 53, 0.7);
}

.About-scroll-area::-webkit-scrollbar {
  width: 0.5vh;
}
.About-scroll-area::-webkit-scrollbar-track {
  background: rgb(16, 48, 26); 
  border-radius: 5px;
}
.About-scroll-area::-webkit-scrollbar-thumb {
  background-color: rgba(198, 235, 77, 0.6); 
  border-radius: 4px;
  border: 0.1vw solid rgba(252, 206, 25, 0.2);
}
.About-scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: rgba(19, 177, 93, 0.27);
}