

body, html {
    margin:0;
    padding:0;
  }

.right{
    position: fixed;
    right: 0px;
    z-index: 2;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: calc(var(--vh, 1vh) * 100);

}
    
.left{
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
    padding: 0px;
    height: calc(var(--vh, 1vh) * 100);

}

.left img{
    height: 100%;
}

.right img{
    height: 100%;
}

@media (max-width: 768px) {
    .right img {
        transform: translateX(20%);
        height: 100%;
  }

    .left img {
        transform: translateX(-20%);
        height: 100%;
  }
}
