

body, html {
    margin:0;
    padding:0;
  }

.right{
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: visible;
    margin: 0px;
    padding: 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: auto;

}
    
.left{
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
    padding: 0px;
    height: calc(var(--vh, 1vh) * 100);

}

.left img{
    height: 100%;
}

.right img{
    height: 100%;
}


.button {
  position: fixed;
  left: 20%;
  bottom: 5%;
  cursor: pointer;
  display: inline-block;
  z-index: 4;

}

.button img {
   width: 50%;
   height: auto;
    
}

.default{
  opacity: 0.8;
  z-index: 2;
}

.pressed{
  opacity: 0;
  z-index: 1;
}


.button:hover default{
  opacity: 0;
}

.button:hover pressed{
  opacity: 0.8;
}


.phone {
    position: fixed;
    height: calc(var(--vh, 1vh) * 98);
    z-index: 3;
    bottom: -200%;
    left: 20%;
    width: auto;
}

.phone.move{
    animation: move 1.5s ease-out forwards;
}

.phone img {
    position: absolute;
    height: 100%;
    left: 0px;
    bottom: 0px;
}

@keyframes move {
  from {
    bottom: -200%;
  }
  to {
    bottom: 0px;
  }
}








@media (max-width: 1000px) {
    .right img {
        position: absolute;
        transform: translateX(5%);
        height: 65%;
        bottom: 0px;
        right: 0px;
   }

    .left img {
        transform: translateX(-25%);
        height: 100%;
    }
    
    .phone {
        position: fixed;
        height: calc(var(--vh, 1vh) * 100);
        width: 100vw;
        z-index: 3;
        bottom: -200%;
        left: auto;
        overflow: visible;
        animation: move 1.5s ease-out forwards;

    }

    .phone.move{
    animation: move 1.5s ease-out forwards;
}
    
    .phone img {
        width: 100%;
        height: auto;
        bottom: 0px:
    }
    
}
